DB_USER=
DB_PASSWORD=
DB_NAME=

# ── Backend ──────────────────────────────
# openssl rand -hex 32
JWT_SECRET=

# ── TMDB (https://www.themoviedb.org/settings/api) ──
TMDB_READ_TOKEN=

DATABASE_URL=
PORT=

# Pour l'envoie de mail
#SMTP_HOST=smtp.resend.com
#SMTP_PORT=587
#SMTP_USER=resend
#SMTP_PASS=ta_cle_api
#[email protected]
#WEB_URL=https://ton-domaine.com